version: "2"
services:
{% set count = containers|int %}
{% for i in range (1,count+1) %}
{% if i != 1 or task != "grow-cluster" %}
  mariadb-{{ i }}:
    image: docker.io/jmontleon/centos-7-galera-mariadb-10:latest
    working_dir: /
    user: mysql
{% if task == "deploy-cluster" and i == 1 %}
    command: [/usr/bin/dumb-init, mysqld_safe, --wsrep-new-cluster]
{% else %}
    command: [/usr/bin/dumb-init, mysqld_safe]
{% endif %}
    environment:
    - MARIADB_DATABASE=mysql
    - MARIADB_USERNAME=admin
    - MARIADB_PASSWORD=foo
    - MARIADB_ROOT_PASSWORD=sesame
    expose:
    - 3306
    - 4567
    - 4444
    - 4568
    volumes:
    - mariadb{{ i }}-data:/var/lib/mysql:rw
    options:
      openshift:
        persistent_volume_claims:
        - volume_name: mariadb{{ i }}-data
          claim_name: mariadb{{ i }}-data
          access_modes:
          - ReadWriteOnce
{% endif %}
{% endfor %}
volumes:
{% for i in range (1,count+1) %}
  mariadb{{ i }}-data: {}
{% endfor %}
